@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700;800&family=Poppins:wght@300;400;500;600;700&display=swap');

.footer{

  background:
  linear-gradient(
    to bottom,
    #2b1812,
    #1a0f0b
  );

  color:white;

  padding-top:100px;

  margin-top:120px;

  position:relative;

  overflow:hidden;

}

/* GOLD TOP LINE */

.footer::before{

  content:"";

  position:absolute;

  top:0;
  left:0;

  width:100%;
  height:4px;

  background:
  linear-gradient(
    to right,
    transparent,
    #c9a35a,
    transparent
  );

}

/* GRID */

.footer-grid{

  display:grid;

  grid-template-columns:
  repeat(auto-fit,minmax(260px,1fr));

  gap:60px;

  padding-bottom:70px;

}

/* LOGO */

.footer-about h2{

  font-size:54px;

  font-family:
  'Playfair Display',
  serif;

  color:#c9a35a;

  margin-bottom:20px;

  letter-spacing:3px;

}

.footer-about p{

  color:#d7d0cb;

  line-height:2;

  font-size:15px;

  max-width:320px;

}

/* HEADINGS */

.footer h3{

  font-size:24px;

  margin-bottom:25px;

  color:white;

  position:relative;

  display:inline-block;

}

.footer h3::after{

  content:"";

  position:absolute;

  left:0;
  bottom:-10px;

  width:40px;
  height:2px;

  background:#c9a35a;

}

/* LINKS */

.footer-links{

  display:flex;

  flex-direction:column;

}

.footer-links a{

  color:#d2cbc5;

  margin-bottom:16px;

  transition:0.4s;

  font-size:15px;

  text-decoration:none;

  width:fit-content;

}

.footer-links a:hover{

  color:#c9a35a;

  transform:
  translateX(6px);

}

/* CONTACT */

.footer-contact p{

  color:#d2cbc5;

  line-height:2;

  font-size:15px;

  margin-bottom:12px;

}

.footer-email{

  color:#c9a35a;

  text-decoration:none;

  transition:0.3s;

  font-weight:500;

}

.footer-email:hover{

  color:white;

}

/* SOCIALS */

.footer-socials p{

  color:#ccc;

}

.social-icons{

  display:flex;

  gap:18px;

  margin-top:25px;

}

.social-icons a{

  text-decoration:none;

}

.social-icons svg{

  width:50px;

  height:50px;

  padding:14px;

  border-radius:50%;

  background:
  rgba(255,255,255,0.06);

  color:white;

  transition:0.4s;

  cursor:pointer;

  box-shadow:
  0 8px 20px rgba(0,0,0,0.15);

}

.social-icons svg:hover{

  background:#c9a35a;

  transform:
  translateY(-6px)
  scale(1.08);

  color:white;

}

/* BOTTOM */

.footer-bottom{

  border-top:
  1px solid rgba(255,255,255,0.08);

  text-align:center;

  padding:28px 20px;

  color:#a59d97;

  font-size:14px;

  letter-spacing:1px;

  background:
  rgba(0,0,0,0.15);

}

/* MOBILE */

@media(max-width:768px){

  .footer{

    padding-top:70px;

  }

  .footer-grid{

    gap:45px;

  }

  .footer-about h2{

    font-size:40px;

  }

}