.whatsapp-btn{

  position:fixed;

  bottom:30px;
  right:30px;

  width:75px;

  height:75px;

  border-radius:50%;

  background:#25D366;

  display:flex;

  justify-content:center;

  align-items:center;

  color:white;

  font-size:38px;

  z-index:9999;

  box-shadow:
  0 10px 30px rgba(37,211,102,0.4);

  transition:0.4s;

  text-decoration:none;

}

.whatsapp-btn:hover{

  transform:
  scale(1.08)
  translateY(-4px);

}